//Variables


//Colores
$azul: #009FFF;
$morado: #642B73;
$amarillo: #FFCE00;



//Fuente
$fuente_principal: "Staatliches";
$fuente_secundaria: "Noto Sans TC";

//Tamaños breakpoints
$telefono: 480px;
$tablet: 768px;