//Variables


//Colores
$gris: #f2f2f2;
$gris_oscuro: #b1b1b1;
$botones: #0b8793;
$gradiente1: #a1c4fd;
$gradiente2: #c2e9fb;
$textoHero: #f0eaea;
$colorHover:#00205b;
$footerFinal: #0085ad;

$textoPublicaciones:  #db008d;
$footer: #0b8793;
$footerCopy: #31113f;
$categoria_ruta: #263156;
$categoria_mecanica:#008fd1;
$categoria_bicicletas: #b97777;
$categoria_consejos: #1f4866;


//Fuente
$fuente_titular_uno_dos: "Noto Serif";
$fuente_titular_tres_cuatro: "Noto Sans";

//Tamaños breakpoints
$telefono: 480px;
$tablet: 768px;